.footer-main{
    padding: 5% 10% 0% 10%; 

    
 background-color:rgba(238,238,238,255);
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    gap: 50px;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    cursor: pointer;
    
}


.footer-logo img{
    
    width: 89%;
   max-width: 90%;
   height: auto;
   border-radius: 45%;
   margin: auto;
 

}

.footer-logo-description{
    font-size: 1rem;
    text-align: center;
    text-shadow: var(--shadow-text);
   

}

.footer-social{
    display: flex;
    flex-direction: column;
  
    gap: 30px;
    width: 30%;
    height: 100%;
    margin-top: 3rem;
}

.footer-social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin-left: 20px;
    width: 100%;
    height: 100%;
}

.footer-social-icon{
    
    width: 30%;
    height: 100%;
    transition: transform .4s;
    
}

.footer-social-icon:hover {
    transform: translateY(-.5rem);
}

.footer-social-icon img{
    max-width: 50%;
    filter: var(--shadow-img);
}

.footer-social-anpc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    align-items: center;

}

.footer-social-anpc-icon{
    max-width: 70%;
    filter: var(--shadow-img);
    transition: transform .4s;
}

.footer-social-anpc-icon:hover{
    transform: translateY(-.3rem);
}

.footer-location{
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    
}

.footer-location-title{
    font-size: 2rem;
    text-shadow: var(--shadow-text);
}

.footer-location-street{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-shadow: var(--shadow-text);
}

.footer-location-phone{
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    text-shadow: var(--shadow-text);
}

.footer-location-program{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.footer-location-orar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
    width: 100%;
    
}

@media(max-width:1050px){
    .footer-main{
        padding: 3% 5% 0% 5%; 
    }

    .footer-location-title{
        font-size: 1.8rem;
       
    }
    
    .footer-location-street{
        gap: 8px; 
    }
    
    .footer-location-phone{
        gap: 8px;  
    }
    
    .footer-location-program{
        gap: 8px;
        
    }

    .footer-copyright p{
       font-size: 0.9rem;
        
    }
    
   
}

@media(max-width:800px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
        gap: 10px;
    }

    .footer-logo{
       
        gap: 10px;
        width: 80%;
        height: 60%;
        
    }

   
    
    .footer-logo img{
       max-width: 70%;
       height: auto;
       border-radius: 45%;
       margin: auto;
     
    
    }
    
    .footer-logo-description{
        font-size: 1rem;
        text-align: center;
        line-height: 1.8;
    
       
    
    }
    
    .footer-social{
        gap: 30px;
        width: 90%;
        height: 100%;
        margin-top: 2rem;
    }
    
    .footer-social-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;   
        margin-left: 20px;
        width: 100%;
        height: 100%;
    }
    
    .footer-social-icon{
        
        width: 15%;
        height: 100%;
    
        
    }

    .footer-social-anpc{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }
    
    .footer-social-anpc-icon{
        max-width: 40%;
      
    }
    
    .footer-location{
        display: flex;
        
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        margin-top: 1rem;
        
    }
    
    .footer-location-title{
        font-size: 2rem;
    }
    


 
   
    
    .footer-copyright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 2rem;
        width: 100%;
        
    }
}

@media(max-width:500px){
        
    .footer-logo-description{
        font-size: 0.8rem;
        line-height: 1.5;
    }

    .footer-social-icon{
        width: 20%; 
    }

    .footer-social{
        gap: 10px;
        width: 90%;
        margin-top: 1rem;
    }

    .footer-location{
        display: flex;
        
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        margin-top: 2rem;
        
    }
    
    .footer-location-title{
        font-size: 1.5rem;
    }

    .footer-location-street{
        font-size: 0.8rem;
    }

    .footer-location-phone{
        font-size: 0.8rem;
    }

    .footer-location-orar-day{
        font-size: 0.8rem;
    }

    .footer-location-orar-time{
        font-size: 0.8rem;
    }
}
