.carousel-wrapper {
    width: 75%;
    
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.3),
      0 6px 6px rgba(0, 0, 0, 0.22);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff; /* sau transparent, după preferință */
    cursor: pointer;
  }
  
  .carousel-wrapper:hover {
    transform: scale(1.01);
    box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.4),
      0 10px 10px rgba(0, 0, 0, 0.3);
  }
  

.carousel {
width: 100%;
max-height: 450px;
height: 100%;
    overflow: hidden; /* Ca să nu iasă imaginea din colțuri */
  }


.carousel .slide img {
    max-height:100%;
    max-width: 100%;
    object-fit: cover;   /* sau `cover`, în funcție de efectul dorit */
    display: block;
    
  }
  
  .carousel .control-arrow {
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
  }
  
  .carousel .legend {
    background: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
  }
  
  .carousel .carousel-status {
    color: #000;
    font-weight: bold;
  }

  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  
  @media (max-width:700px){
    .carousel-wrapper{
        width: 90%;
    }
    

   
  }